---
interface Props {
  title?: string;
}

const { title = 'Test' } = Astro.props;
---

<!DOCTYPE html>
<html>
  <head>
    <title>{title}</title>
  </head>
  <body>
    <h1>Test Layout Works</h1>
    <slot />
  </body>
</html>
